<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form action="/member/update" method="post" name="updateForm">
    <input type="hidden" th:value="${memberDTO.id}" name="id"><br>
    <input type="text" name="memberEmail" th:value="${memberDTO.memberEmail}" placeholder="계정" readonly><br>
    <input type="text" name="memberPassword" id="memberPassword" placeholder="비밀번호" ><br>
    <input type="button" th:onclick="update()" value="정보수정">

</form>
</body>
</html>