<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>update</title>
</head>
<body>
<form action="/member/updateForm" method="post" name="updateForm">
    <input type="hidden" th:value="${memberDTO.id}" name="id"><br>
    <input type="text" name="memberEmail" th:value="${memberDTO.memberEmail}" placeholder="계정" readonly><br>
    <input type="hidden" name="memberPassword" id="memberPassword" th:value="${memberDTO.memberPassword}"  ><br>
    <input type="text" name="memberIntro" id="memberIntro" placeholder="정보입력" ><br>
    <input type="submit" value="정보수정">

</form>
</body>
</html>