<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://kit.fontawesome.com/827bb06556.js" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@600&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@1,600&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Ibarra+Real+Nova:wght@700&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Ibarra+Real+Nova:wght@700&display=swap" rel="stylesheet">

    <script>
        function gray(i){
            if(i==1){
                document.getElementById("footerItem1").style.color='gray';
            }else if(i==2){
                document.getElementById("footerItem2").style.color='gray';
            }else if(i==3){
                document.getElementById("footerItem3").style.color='gray';
            }else if(i==4){
                document.getElementById("footerItem4").style.color='gray';
            }else if(i==5){
                document.getElementById("headerItem1").style.color='gray';
            }else if(i==6){
                document.getElementById("headerItem2").style.color='gray';
            }else if(i==7){
                document.getElementById("headerItem3").style.color='gray';
            }

        }

        function black(i){
            if(i==1){
                // $('#footerItem1').style.color="gray";
                document.getElementById("footerItem1").style.color='black';
            }else if(i==2){
                document.getElementById("footerItem2").style.color='black';
            }else if(i==3){
                document.getElementById("footerItem3").style.color='black';
            }else if(i==4){
                document.getElementById("footerItem4").style.color='black';
            }else if(i==5){
                document.getElementById("headerItem1").style.color='black';
            }else if(i==6){
                document.getElementById("headerItem2").style.color='black';
            }else if(i==7){
                document.getElementById("headerItem3").style.color='black';
            }
        }

        function iconEffect(i){

            if(i==1){
                document.getElementById("footerItem1").style.fontSize='28px'
                document.getElementById("footerItem1").style.marginRight='2px'
                setTimeout(iconReset,150,1);
            }else if(i==2){
                document.getElementById("footerItem2").style.fontSize='28px'
                document.getElementById("footerItem2").style.marginRight='2px'
                setTimeout(iconReset,150,2);
            }else if(i==3){
                document.getElementById("footerItem3").style.fontSize='28px'
                document.getElementById("footerItem3").style.marginRight='2px'
                setTimeout(iconReset,150,3);
            }else if(i==4){
                // document.getElementById("footerItem4").style.fontSize='28px'
                // document.getElementById("footerItem4").style.marginRight='2px'
                document.getElementById("footerItem4").className="fi fa-solid fa-door-open"
                setTimeout(iconReset,150,4);
            }else if(i==5){
                // document.getElementById("footerItem4").style.fontSize='28px'
                // document.getElementById("footerItem4").style.marginRight='2px'
                document.getElementById("headerItem1").className="hi fa-solid fa-square-plus"
                setTimeout(iconReset,150,5);
            }else if(i==6){
                // document.getElementById("footerItem4").style.fontSize='28px'
                // document.getElementById("footerItem4").style.marginRight='2px'
                document.getElementById("headerItem2").className="hi fa-solid fa-heart"
                setTimeout(iconReset,150,6);
            }else if(i==7){
                // document.getElementById("footerItem4").style.fontSize='28px'
                // document.getElementById("footerItem4").style.marginRight='2px'
                document.getElementById("headerItem3").className="hi fa-solid fa-paper-plane"
                setTimeout(iconReset,150,7);
            }


            function iconReset(i){
                if(i==1){
                    document.getElementById("footerItem1").style.fontSize="30px"
                    document.getElementById("footerItem1").style.marginRight='0'
                }else if(i==2){
                    document.getElementById("footerItem2").style.fontSize="30px"
                    document.getElementById("footerItem2").style.marginRight='0'
                }else if(i==3){
                    document.getElementById("footerItem3").style.fontSize="30px"
                    document.getElementById("footerItem3").style.marginRight='0'
                }else if(i==4){

                    document.getElementById("footerItem4").className="fi fa-solid fa-door-closed"
                }else if(i==5){
                    document.getElementById("headerItem1").className="hi fa-regular fa-square-plus"
                }else if(i==6){
                    document.getElementById("headerItem2").className="hi fa-regular fa-heart"
                }else if(i==7){
                    document.getElementById("headerItem3").className="hi fa-regular fa-paper-plane"
                }
            }
        }
        //어리아ㅓ이ㅏㅓㅇ라ㅓㅇ리ㅏ얼
        function logoutChk(){
            console.log("logout chk 호출")
            $.ajax({
                url:"/member/logoutCheck",
                type:"get",
                success:function (e){
                    console.log("logout chk suc")
                    location.href="/member/logout"
                },
                error:function (e){
                    console.log("logout chk err")

                }

            })
        }

        function loginChk(){
            console.log("login chk 호출")
            $.ajax({
                url:"/member/loginCheck",
                success:function(e){
                    console.log("login chk suc")
                },
                error:function(e){
                    console.log("login chk err")
                }

            })
        }

        function followBTN(){
            const memberId=document.getElementById("memberId").value;
            const yourId="memberId2";
            const yourName="memberName2";
            const yourProfileName="memberProfileName2";
            const loginStatus=0;

            $.ajax({
                url:"/follow/request",
                type:"post",
                dataType:"json",
                data:{
                    "myId":memberId,
                    "yourId":yourId,
                    "yourName":yourName,
                    "yourProfileName":yourProfileName,
                    "loginStatus":loginStatus
                },
                success:function (result){
                    console.log("suc");
                },
                error:function (result){
                    console.log("err");
                }
            })
        };

        function followList(){
            const id=document.getElementById("id").value;
            $.ajax({
                url:"/follow/myList",
                type:"get",
                data:{
                    "id":id
                }
            })
        };


    </script>

    <style>
        .title {
            font-family: 'Dosis', sans-serif;
            font-size:40px;
            margin:0px 0 0 10px;

        }
        .bi{
            font-size: 30px;
            margin-right: 15px;
        }

        .storyZone{
            border-top: 1px gray solid;
            border-bottom: 1px gray solid;
            height: 100px;
            margin: 20px 10px 0 10px;
        }

        .mainBody{
            margin-top: 30px;
            width: 500px;
            height: 780px;
            border:gray solid 1px;
            padding-left: 0;
            padding-right: 0;
        }

        .headerZone{
            padding-left: 12px;
            padding-right: 12px;
            margin-top: 10px;
        }

        .feedZone{
            /* border: 1px solid gray; */
            height: 525px;
            background-color: aqua;
        }
        .fi{
            margin-left: 52px;
            font-size: 30px;
        }

        .footerItem{
            margin: 20px 0 0 8px;
        }
        .hi{
            margin: 10px 10px 0 0;
            font-size: 30px;
        }


    </style>



</head>
<body onload="loginChk()">

<div class="container mainBody">


    <!-- 헤더구역 -->
    <div class="row headerZone">
        <div class="col">
            <p class="title">25gram</p>
        </div>
        <div class="col headerItem" style="margin-top: 10px;text-align: right;">
            <i id="headerItem1" class="hi fa-regular fa-square-plus" onclick="black(5),iconEffect(5)"onmouseover="gray(5)" onmouseout="black(5)"></i>
            <i id="headerItem2" class="hi fa-regular fa-heart" onclick="black(6),iconEffect(6)" onmouseover="gray(6)" onmouseout="black(6)"></i>
            <i id="headerItem3" class="hi fa-regular fa-paper-plane" style="font-size: 28px;" onclick="black(7),iconEffect(7)" onmouseover="gray(7)" onmouseout="black(7)"></i>

        </div>
    </div>


    <!-- 스토리 구역 -->
    <div class="storyZone" >
        <div>
            <h1>스토리 구역입니다.</h1>
            <input type="text" th:value="${memberDTO.id}" id="id">
            <button th:onclick="followList()">followList</button>
        </div>
    </div>


    <!-- 메인피드 구역 -->
    <div class="feedZone">
        <h1>메인피드 구역입니다.</h1>
        <a href="/member/updateForm">update</a>
    </div>


    <!-- 푸터 구역 -->
    <div class="footerZone">
        <div class="footerItem" >

            <i id="footerItem1" class="fi fa-solid fa-house " onmouseover="gray(1)" onmouseout="black(1)" onclick="iconEffect(1)"></i>
            <i id="footerItem2" class="fi fa-solid fa-magnifying-glass" onmouseover="gray(2)" onmouseout="black(2)" onclick="iconEffect(2)"></i>
            <i id="footerItem3" class="fi fa-solid fa-clapperboard" onmouseover="gray(3)" onmouseout="black(3)" onclick="iconEffect(3)"></i>
            <i class="fi fa-solid fa-user"></i>
            <i id="footerItem4" class="fi fa-solid fa-door-closed" onmouseover="gray(4)" onmouseout="black(4)" onclick="iconEffect(4),logoutChk()"></i>
<!--            <i id="footerItem4" class="fi fa-solid fa-door-closed" onmouseover="gray(4)" onmouseout="black(4)" onclick="iconEffect(4),location.href='/logout'"></i>-->
        </div>
    </div>



</div>
</body>
</html>