<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <meta name="_csrf_header" th:content="${_csrf.headerName}">-->
    <!--    <meta name="_csrf" th:content="${_csrf.token}">-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://kit.fontawesome.com/827bb06556.js" crossorigin="anonymous"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@600&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:ital,wght@1,600&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@700&display=swap" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Ibarra+Real+Nova:wght@700&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Ibarra+Real+Nova:wght@700&display=swap" rel="stylesheet">

    <script>
        function gray(i){
            if(i==1){
                document.getElementById("footerItem1").style.color='gray';
            }else if(i==2){
                document.getElementById("footerItem2").style.color='gray';
            }else if(i==3){
                document.getElementById("footerItem3").style.color='gray';
            }else if(i==4){
                document.getElementById("footerItem4").style.color='gray';
            }else if(i==5){
                document.getElementById("headerItem1").style.color='gray';
            }else if(i==6){
                document.getElementById("headerItem2").style.color='gray';
            }else if(i==7){
                document.getElementById("headerItem3").style.color='gray';
            }

        }

        function black(i){
            if(i==1){
                // $('#footerItem1').style.color="gray";
                document.getElementById("footerItem1").style.color='black';
            }else if(i==2){
                document.getElementById("footerItem2").style.color='black';
            }else if(i==3){
                document.getElementById("footerItem3").style.color='black';
            }else if(i==4){
                document.getElementById("footerItem4").style.color='black';
            }else if(i==5){
                document.getElementById("headerItem1").style.color='black';
            }else if(i==6){
                document.getElementById("headerItem2").style.color='black';
            }else if(i==7){
                document.getElementById("headerItem3").style.color='black';
            }
        }

        function iconEffect(i){

            if(i==1){
                document.getElementById("footerItem1").style.fontSize='28px'
                document.getElementById("footerItem1").style.marginRight='2px'
                setTimeout(iconReset,150,1);
            }else if(i==2){
                document.getElementById("footerItem2").style.fontSize='28px'
                document.getElementById("footerItem2").style.marginRight='2px'
                setTimeout(iconReset,150,2);
            }else if(i==3){
                document.getElementById("footerItem3").style.fontSize='28px'
                document.getElementById("footerItem3").style.marginRight='2px'
                setTimeout(iconReset,150,3);
            }else if(i==4){
                // document.getElementById("footerItem4").style.fontSize='28px'
                // document.getElementById("footerItem4").style.marginRight='2px'
                document.getElementById("footerItem4").className="fi fa-solid fa-door-open"
                setTimeout(iconReset,150,4);
            }else if(i==5){
                // document.getElementById("footerItem4").style.fontSize='28px'
                // document.getElementById("footerItem4").style.marginRight='2px'
                document.getElementById("headerItem1").className="hi fa-solid fa-square-plus"
                setTimeout(iconReset,150,5);
            }else if(i==6){
                // document.getElementById("footerItem4").style.fontSize='28px'
                // document.getElementById("footerItem4").style.marginRight='2px'
                document.getElementById("headerItem2").className="hi fa-solid fa-heart"
                setTimeout(iconReset,150,6);
            }else if(i==7){
                // document.getElementById("footerItem4").style.fontSize='28px'
                // document.getElementById("footerItem4").style.marginRight='2px'
                document.getElementById("headerItem3").className="hi fa-solid fa-paper-plane"
                setTimeout(iconReset,150,7);
            }


            function iconReset(i){
                if(i==1){
                    document.getElementById("footerItem1").style.fontSize="30px"
                    document.getElementById("footerItem1").style.marginRight='0'
                }else if(i==2){
                    document.getElementById("footerItem2").style.fontSize="30px"
                    document.getElementById("footerItem2").style.marginRight='0'
                }else if(i==3){
                    document.getElementById("footerItem3").style.fontSize="30px"
                    document.getElementById("footerItem3").style.marginRight='0'
                }else if(i==4){

                    document.getElementById("footerItem4").className="fi fa-solid fa-door-closed"
                }else if(i==5){
                    document.getElementById("headerItem1").className="hi fa-regular fa-square-plus"
                }else if(i==6){
                    document.getElementById("headerItem2").className="hi fa-regular fa-heart"
                }else if(i==7){
                    document.getElementById("headerItem3").className="hi fa-regular fa-paper-plane"
                }
            }
        }
        //어리아ㅓ이ㅏㅓㅇ라ㅓㅇ리ㅏ얼
        function logoutChk(){
            // let header =$("meta[name='_csrf_header']").attr('content');
            // let token=$("meta[name='_csrf']").attr('content');
            console.log("logout chk 호출")
            $.ajax({
                url:"/member/logoutCheck",
                type:"get",
                // beforeSend:function (result){
                //     result.setRequestHeader(header,token);
                // },
                success:function (e){
                    console.log("logout chk suc")
                    location.href="/member/logout"
                },
                error:function (e){
                    console.log("logout chk err")

                }

            })
        }
        function loginChk(){
            // let header =$("meta[name='_csrf_header']").attr('content');
            // let token=$("meta[name='_csrf']").attr('content');
            console.log("login chk 호출")
            $.ajax({
                url:"/member/loginCheck",
                //     beforeSend:function(result){
                //         result.setRequestHeader(header,token);
                // },
                success:function(e){
                    console.log("login chk suc")
                },
                error:function(e){
                    console.log("login chk err")
                }

            })
        }

        function followBTN(){
            // let header=$("meta[name='_csrf_header']").attr('content');
            // let token=$("meta[name='_csrf']").attr('content');
            const memberId=document.getElementById("memberId").value;
            const yourId="memberId2";
            const yourName="memberName2";
            const yourProfileName="memberProfileName2";
            const loginStatus=0;

            $.ajax({
                url:"/follow/request",
                type:"post",
                dataType:"json",
                data:{
                    "myId":memberId,
                    "yourId":yourId,
                    "yourName":yourName,
                    "yourProfileName":yourProfileName,
                    "loginStatus":loginStatus
                },
                // beforeSend:function(result){
                //     result.setRequestHeader(header,token);
                // },
                success:function (result){
                    console.log("suc");
                },
                error:function (result){
                    console.log("err");
                }
            })
        };

        function followList(){
            // let header=$("meta[name='_csrf_header']").attr('content');
            // let token=$("meta[name='_csrf']").attr('content');
            const myId="yourId";
            $.ajax({
                url:"/follow/myList",
                type:"get",
                data:{
                    "myId":myId
                },
                // beforeSend:function (result){
                //     result.setRequestHeader(header,token);
                // },
                success:function (result){

                }
            })
        };


    </script>

    <style>
        .title {
            font-family: 'Dosis', sans-serif;
            font-size:40px;
            margin:0px 0 0 10px;

        }
        .bi{
            font-size: 30px;
            margin-right: 15px;
        }

        .storyZone{
            border-top: 1px gray solid;
            border-bottom: 1px gray solid;
            height: 100px;
            margin: 20px 10px 0 10px;
        }

        .mainBody{
            margin-top: 30px;
            width: 500px;
            height: 780px;
            border:gray solid 1px;
            padding-left: 0;
            padding-right: 0;
        }

        .headerZone{
            padding-left: 12px;
            padding-right: 12px;
            margin-top: 10px;
        }

        .feedZone{
            /* border: 1px solid gray; */
            height: 525px;
            /*background-color: aqua;*/
            padding-left: 0;
            padding-right: 0;
        }
        .fi{
            margin-left: 52px;
            font-size: 30px;
        }

        .footerItem{
            margin: 20px 0 0 8px;
        }
        .hi{
            margin: 10px 10px 0 0;
            font-size: 30px;
        }
        .contentsItem{
            margin:24px; width:450px; height:470px; border: solid 1px;
            /*width: 100vw;*/
            float: left;
        }
        .contentsBody{
            width: 5000px;
        }

    </style>



</head>
<body onload="loginChk()">

<div class="container mainBody">


    <!-- 헤더구역 -->
    <div class="row headerZone">
        <div class="col">
            <p class="title">25gram</p>
        </div>
        <div class="col headerItem" style="margin-top: 10px;text-align: right;">
            <i id="headerItem1" class="hi fa-regular fa-square-plus" onclick="black(5),iconEffect(5)"onmouseover="gray(5)" onmouseout="black(5)"></i>
            <i id="headerItem2" class="hi fa-regular fa-heart" onclick="black(6),iconEffect(6)" onmouseover="gray(6)" onmouseout="black(6)"></i>
            <i id="headerItem3" class="hi fa-regular fa-paper-plane" style="font-size: 28px;" onclick="black(7),iconEffect(7)" onmouseover="gray(7)" onmouseout="black(7)"></i>

        </div>
    </div>


    <!-- 스토리 구역 -->
    <div class="storyZone" >
        <div>
            <h1>스토리 구역입니다.</h1>
            <!--            <input type="text" th:value="${memberDTO.memberId}" id="id">-->
                        <button th:onclick="commentTest()">눌러보라</button>
        </div>
    </div>


    <!-- 메인피드 구역 -->
    <div class="feedZone">
        <!--        <div style="overflow: hidden">-->
        <!--        <h1>메인피드 구역입니다.</h1>-->
        <!--        <a href="/member/updateForm">update</a>-->
        <div class="contentsBody" th:each="boardFile : ${boardFile}" >
            <div th:if="${1 == boardFile.boardId}">
                <img th:if="${boardFile.boardImgName != null}" class="contentsItem" th:src="@{|/upload/${boardFile.boardImgName}|}" th:style="'filter:' + ${boardFile.boardFilter}"  alt="">
                <video th:if="${boardFile.boardVideoName != null}" class="contentsItem" th:src="@{|/upload/${boardFile.boardVideoName}|}" th:style="'filter:' + ${boardFile.boardFilter}" alt="" controls="controls" autoplay="autoplay" loop="loop"></video>
            </div>
        </div>
        <div th:each="board : ${boardList}">
            <div th:if="${board.id == 1}">
                <span th:text="${board.boardContents}"></span>
            </div>
        </div>
        <!--            </div>-->
        <!--        </div>-->
    </div>


    <!-- 푸터 구역 -->
    <div class="footerZone">
        <div class="footerItem" >

            <i id="footerItem1" class="fi fa-solid fa-house " onmouseover="gray(1)" onmouseout="black(1)" onclick="iconEffect(1)"></i>
            <i id="footerItem2" class="fi fa-solid fa-magnifying-glass" onmouseover="gray(2)" onmouseout="black(2)" onclick="iconEffect(2)"></i>
            <i id="footerItem3" class="fi fa-solid fa-clapperboard" onmouseover="gray(3)" onmouseout="black(3)" onclick="iconEffect(3)"></i>
            <i class="fi fa-solid fa-user"></i>
            <i id="footerItem4" class="fi fa-solid fa-door-closed" onmouseover="gray(4)" onmouseout="black(4)" onclick="iconEffect(4),logoutChk()"></i>
            <!--            <i id="footerItem4" class="fi fa-solid fa-door-closed" onmouseover="gray(4)" onmouseout="black(4)" onclick="iconEffect(4),location.href='/logout'"></i>-->
        </div>
    </div>



</div>
<!--<div id="comment-list"></div>-->




</body>
<script th:inline="javascript">
    // function commentTest() {
    //     // const header=$("meta[name='_csrf_header']").attr('content');
    //     // const token=$("meta[name='_csrf']").attr('content');
    //     const boardId=1;
    //     const commentWriter = "commentWriter";
    //     const commentContents = "commentContents";
    //
    //     $.ajax({
    //         type:"post",
    //         url:"/comment/commentSave",
    //         data:{
    //             "commentWriter":commentWriter,
    //             "boardId":boardId,
    //             "commentContents":commentContents
    //         },
    //         dataType:"json",
    //         // beforeSend:function (send){
    //         //     send.setRequestHeader(header,token);
    //         // },
    //         success: function (result){
    //             let output="<table><tr>";
    //             output += "<th>id</th>";
    //             output += "<th>commentWriter</th>";
    //             output += "<th>commentContents</th>";
    //             output += "<th>commentCreatedDate</th></tr>";
    //             for(let i in result){
    //                 output += "<tr>";
    //                 output += "<td>" + result[i].id + "</td>";
    //                 output += "<td>" + result[i].commentWriter + "</td>";
    //                 output += "<td>" + result[i].commentContents + "</td>";
    //                 output += "<td>"+ result[i].commentCreatedDate +"</td></tr>";
    //             }
    //             output += "</table>";
    //             document.getElementById('').innerHTML=output;
    //             document.getElementById('').value='';
    //         }
    //     });
    //
    // }
    // $.ajax({
    //     type: "post",
    //     url: "/comment/save",
    //     data: {"commentWriter":commentWriter,"commentContents":commentContents,"productId":productId,"memberId":memberId},
    //     dataType: "json",
    //     success: function(result){
    //         const a = "삭제";
    //         let output = "<table class='table'>";
    //         output += "<tr><th>댓글번호</th>";
    //         output += "<th>작성자</th>";
    //         output += "<th>내용</th>";
    //         output += "<th>작성시간</th></tr>";
    //         for(let i in result){
    //             output += "<tr>";
    //             output += "<td>"+result[i].id+"</td>";
    //             output += "<td>"+result[i].commentWriter+"</td>";
    //             output += "<td id='contents" + result[i].id + "'>" + result[i].commentContents+"</td>";
    //             output += "<td>"+moment(result[i].commentDate).format("YYYY-MM-DD HH:mm:ss")+"</td>";
    //             if(member == result[i].commentWriter){
    //                 output += "<td>" + "<a href='/comment/delete?productId=" + productId + "&id=" + result[i].id + "'>" + a + "</a>"+"</td>";
    //                 output += "<td id='updateBTN" + result[i].id  + "'>" + "<a href='javascript:void(0)' onclick='aaa3(" + result[i].id + ")'>" + "수정" + "</a>"+"</td>";
    //                 <%--<td id="updateBTN${comment.id}"><a href="javascript:void(0)" onclick="aaa3(${comment.id})">수정</a></td>--%>
    //             }else if(member == 'admin'){
    //                 output += "<td>" + "<a href='/comment/delete?productId=" + productId + "&id=" + result[i].id + "'>" + a + "</a>"+"</td>";
    //                 output += "<td></td>";
    //             }else{
    //                 output += "<td></td>";
    //                 output += "<td></td>";
    //             }
    //             output += "<td>" + "<a href='javascript:void(0)' onclick='hitsCheck(" + result[i].id + ")'>" + "<span id='aa'>" + "좋아요" + result[i].commentHits + "</span>" + "</a>" + "</td>";
    //             output += "</tr>";
    //         }
    //         output += "</table>";
    //         document.getElementById('comment-list').innerHTML = output;
    //         document.getElementById('commentContents').value='';
    //     },
    //     error: function () {
    //         alert("틀림");
    //     }
    // });
</script>
</html>