<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>testList</title>
</head>
<body>
<!--<table>-->

<!--    <tr>-->
<!--        <th>myId</th>-->
<!--        <th>yourId</th>-->
<!--        <th>yourName</th>-->
<!--        <th>yourProfile</th>-->
<!--    </tr>-->
<!--    <tr th:each="followList:${followList}">-->
<!--        <td th:text="${followList.myId}"></td>-->
<!--        <td th:text="${followList.yourId}"></td>-->
<!--        <td th:text="${followList.yourName}"></td>-->
<!--        <td th:text="${followList.yourProfile}"></td>-->

<!--    </tr>-->
<!--</table>-->



</body>
</html>